<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <br><br><br>
    <div class="container-sm">
        <div>
            <div class="row">
                <h2>Categorias </h2><br><br>
                {% for categoria in categorias %}
                <div class="col-sm-6">
                    <div class="card text-bg-dark p-3">
                        <div class="card-body">
                            <h5 class="card-title">{{categoria.nombre}}</h5>
                            <p class="card-text">{{categoria.identificador}}: {{categoria.descripcion}}</p>
                            <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'ver_productos' categoria.id %}" class="btn btn-primary">Ver productos</a>
                            <a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-primary">Eliminar Categoria </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>