<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <br><br><br>
    <div class="row justify-content-md-center text-bg-dark p-3">
        <div class="col-md-auto">
            <form method="POST" class="row g-3">
                {% csrf_token %}
                <div class="container-fluid">
                    <label class="form-label" for="codigo">Codigo de producto: </label>
                    <input class="form-control" type="text" name="codigo" required id="codigo" placeholder="Ingrese el codigo...">
                </div>
                <div class="container-fluid">
                    <label for="nombre" class="form-label">Nombre del producto: </label>
                    <input class="form-control" type="text" name="nombre" id="nombre" required
                        placeholder="Ingrese el nombre del producto">
                </div>
                <div class="container-fluid">
                    <label class="form-content" for="stock">Cantidad: </label>
                    <input type="number" class="form-control" name="stock" required id="stock" placeholder="Ingrese el stock...">
                </div>
                <div class="container-fluid">
                    <label class="form-label" for="precio">Precio del producto</label>
                    <input type="number" class="form-control" name="precio" required id="precio" placeholder="Ingrese el precio...">
                </div>
                <div class="container-fluid">
                    <label class="form-label" for="categoria">Categoria: </label>
                    <select name="categoria" id="categoria" class="form-select" aria-label="Default select example">
                        <option value="">--Selecciona--</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary mb-3" type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>