<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <br><br><br>
    <div class="container-sm">
        <div>
        <h2>{{categoria.nombre}}</h2>
            <div class="row">
                {% for producto in productos %}
                <div class="col-sm-6">
                    <div class="card text-bg-dark p-3">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}}</h5>
                            <div class="card-text">Codigo: {{producto.codigo}}</div>
                            <div class="card-text">Stock: {{producto.stock}}</div>
                            <div class="card-text">Precio: {{producto.precio}}</div>
                            <a href="{% url 'detalle_venta' producto.codigo %}" class="btn btn-primary">Vender</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><br>
        </div>
    </div>
    {% endblock %}
</body>
</html>